.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#d8d8d8;
    margin: 2rem;
}

.about-text {
    max-width: 450px;
}

.about h1, .skills h1, .tools h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.about p {
    font-size: 1.3rem;
    text-align: left;
    padding: 1rem;
}

.about-img img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 1rem;
}

.skills, .tools {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#d8d8d8;
    margin: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
    align-self: center;
    gap: 1rem;
}

.container img {
    padding: 5px;
    width: 100%;
    border: 3px solid #d8d8d8;
    border-radius: 10px;
}

.container img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}